---
title : gallery
layout : tataletak.njk
---
<h1> Gallery</h1>

    <div class="container">
        <div><img src="/assets/img/table.png" alt="" style="width: 100%; height: 100px;">
        <p>Tabel Periodik</p>
        </div>
        <div><img src="/assets/img/itera.png" alt="" style="width: 100%; height: 100px;">
        <p>Logo ITERA</p>
        </div>
        <div><img src="/assets/img/flowchart.jpg" alt="" style="width: 100%; height: 100px;">
        <p>Penjelasan Flowchart</p>
        </div>
    </div>