<html lang="en">
<head>
	<link rel="stylesheet" href="/assets/css/sugar.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="malam">
	{%include "navigasi.njk" %}
	<section>
		{{content | safe }}
	</section>
	<script type="text/javascript">
		switcher = document.getElementById("tombol");

		switcher.onclick = function() {
			badan=document.getElementsByTagName("body")[0];
			if (switcher.innerText == "Berubah Ke Mode Siang") {
				switcher.innerText = "Berubah Ke Mode Malam";
				badan.classList.remove("malam");
			}else{
				switcher.innerText = "Berubah Ke Mode Siang";
				badan.classList.add("malam");
			}
		}
	</script>
</body>
</html>